$main-font: 'Raleway', sans-serif;
$font-color: #262626;
$main-color: #ffffff;
$font-size: 17px;
$font-weight: 300;
$font-size-title:90px;
$font-weight-title:700;
$font-subtitle:60px;
$font-weight-subtitle:800;
$font-height: 1.6; //line-height
$color-bg: #fff;


/** Grid variables **/
$container-width: 1170px;
$col-padding: 15px;

// btn variebles
$btn-height: 55px;
$btn-width: 200px;
$btn-font-size: 20px;
$btn-bg-first:#ff6033;
$btn-bg-second:#5585a2;
$btn-bg-tree:#96b92c;
$btn-bg-for:#f72b3b

